#Uncle-Bob{


}
#slaves{color:yellowgreen;}
#ub1{color:rgb(27, 109, 31)}
#ub2{color:tomato}
.ub3{text-decoration-line: underline;}
h4{text-align:center;}
.heading-font{font-family: 'Mochiy Pop P One', sans-serif;}